body{
    text-align:center;
}

h1{
    color:green;
}

#inputs{
    border-style: solid; 
    padding-top: 1%; 
    padding-bottom: 1%; 
    margin-left: 30%; 
    margin-right: 30%;
}

input{
    margin-top: 0.5%;
}

select{
	width: 180px;
}

#mes,#ano{
    width: 30px;
}

#mes{
    margin-left: 5%;
}

button{
    margin-top: 1%;
}

.result{
    color:green;
}